<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Receitas ❤️</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <nav>
      <div class="container">
        <a href="/" class="logo">Te amo Ariady ❤️</a>
        <div class="nav-links">
          <a href="/">Home</a>
          {% if user.is_authenticated %}
          <a href="{% url 'admin:index' %}">Adicionar Receita</a>
          {% endif %}
        </div>
      </div>
    </nav>

    <main class="container">{% block content %} {% endblock %}</main>
  </body>
</html>
